.container {
    box-sizing: border-box;
    background-image: linear-gradient(#c9184a, #892b64);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  form {
    color: #c9184a;
    background-color: #dddee0;
    margin: 3rem;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 12px 31px 0px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    font-size: 30px;
    text-align: center;
  }
  
  .error {
    margin-top: 15px;
    font-size: 20px;
  }
  
  input,
  button {
    font-size: 20px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: inherit;
  }
  
  .input-group input {
    margin: 20px 0 20px 0;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #fff;
    padding: 20px;
  }
  
  /* output */
  .output-container {
    margin: auto;
    color: #c9184a;
    background-color: #dddee0;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 12px 31px 0px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    width: 21.3rem;
    text-align: center;
    white-space: normal;
    word-break: break-word;
    position: relative;
  }
  
  .output-value {
    font-size: 30px;
  }
  
  /* buttons */
  .btn {
    height: 50px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    transition: background-color 0.2s ease;
    outline: none;
    cursor: pointer;
  }
  
  .btn-primary {
    width: 100%;
    background-color: #ff4d6d;
    color: #fff;
  }
  
  .btn-delete {
    background: none;
    border: none;
    cursor: pointer;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    background-color: #ff4d6d;
    color: #fff;
    padding: 5px;
    width: 30px;
    height: 30px;
    transition: background-color 0.2s ease;
    position: absolute;
  }
  
  input:focus {
    outline-color: #ff4d6d;
  }
  
  .btn:hover {
    background-color: #c9184a;
  }
  
  .btn-delete:hover {
    background-color: #a50c37;
  }
  